
$text: #ffffff;
$background: #191615;
$primary: #54b4bb;
$secondary: #f1fefc;
$accent: #7de381;
$grey-dark: hsl(0 0% 50% / 1);

$link: $secondary;
$title-color: $text;

//*https://realtimecolors.com/?colors=ffffff-191615-54b4bb-f1fefc-7de381*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$family-primary: 'Roboto Mono', monospace;

@media (prefers-color-scheme: light) {
    html {
        filter: invert(100%) hue-rotate(180deg);
    }
}

@import "bulma/bulma";

html {
    background-color: $background;
    color: $text;
}

//a {
//    color: black;
//}

a:hover {
    color: $accent;
}

strong {
    color: $grey-dark;
}
